*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 40, 42);
}

.card button {
    margin-left: 70px;
}

#img {
    height: 70vh;
}

.content {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: none;
}

.containerbox{
    width: 360px;
    height: 400px;
    
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.cnt{
    display: flex;
    flex-direction: row;
}

#bx img{
    width: 60px;
    height: 60px;
}

.containerbox div{
    width: 400px;
    position: absolute;
    margin-top: 50px;
    left: 40px;
    top: 80px;
    transition: .5s;
}

#c2{
    left:600px
}
#c3{
    left:600px
}
#c4{
    left:600px
}
#c5{
    left:600px
}

#html,#css,#jquery,#bootstrap,#js{
    cursor: pointer;
}